body{
    margin: 0;    
}

.Text p{
    font-size: 10px;
}

.parentbox{
    width: 100%;
    margin: auto;
} 


.inlinebox{
    display: inline-flex;
}


.box{
    width: 300px;
    height: 300px;
    text-align: center;
    background: url(../img/For\ site.png) center / cover;
    border: 5px solid black;
    margin: 150px 500px;
    transition: 1s;
}

.box:hover{
    width: 300px;
    height: 300px;
    background: url(https://s.fishki.net/upload/users/2018/06/14/544921/524431266dcccd18c44740984fc527af.jpg) center / cover;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 25px;
    transform: scale(1.1);
    margin: 150px 500px;
    transition: 1s;
}




@media (max-width:768px) {
    .box{
        width: 300px;
        height: 300px;
    }
}